/* npx tailwindcss -i ./static/styles/input.css -o ./static/styles/styles.css --watch */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
    /* NAVBAR HEIGHT */
    --navbar-height: 80px;

    /* BASIC COLORS */
    --black-rgb: 24, 24, 24;
    --white-rgb: 244, 244, 232;
    --blue-rgb: 57, 106, 230;
    --red-rgb: 255, 69, 0;
    --gray-rgb: 128, 128, 128;
    --green-rgb: 51, 184, 100;
    --orange-rgb: 255, 121, 0;

    /* FOREGROUND AND BACKGROUND */
    --fg-rgb: var(--black-rgb);
    --bg-rgb: var(--white-rgb);

    /* PROGRESS COLORS */
    --notstarted-rgb: var(--gray-rgb);
    --waitingon-rgb: var(--orange-rgb);
    --inprogress-rgb: var(--blue-rgb);
    --done-rgb: var(--green-rgb);
}

@layer base {
    *::-webkit-scrollbar {
        @apply w-[0px];
    }

    *::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-transparent rounded-[0px];
    }

    * {
        @apply selection:bg-[rgb(var(--fg-rgb))]
                selection:text-[rgb(var(--bg-rgb))]
                scroll-smooth;
    }

    body {
        @apply bg-[rgb(var(--bg-rgb))] 
                text-[rgb(var(--fg-rgb))]
                overflow-x-hidden w-screen
                font-["Space_Grotesk",sans-serif];
    }

    nav {
        @apply fixed top-0 left-0 w-screen h-[var(--navbar-height)] 
                flex smooth
                px-8 min-[400px]:px-12 
                py-4 justify-between items-center
                text-lg z-[100]
                bg-[rgba(var(--bg-rgb),0.7)]
                backdrop-blur-md;
    }

    main {
        @apply px-8 min-[400px]:px-12  
                py-8 mt-[var(--navbar-height)]
                overflow-x-hidden
                min-h-[calc(100vh-var(--navbar-height))]
                smooth duration-500;
    }

    form {
        @apply w-full
                min-[700px]:w-[600px]
                space-y-6;
    }

    label {
        @apply text-upperwide;
    }

    input {
        @apply focus:outline-none;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"] {
        @apply border-b 
                border-[rgb(var(--fg-rgb))] 
                bg-transparent p-1;
    }

    input[type="date"] {
        @apply w-full font-normal uppercase
                rounded-lg py-2 px-5
                text-[rgb(var(--black-rgb))];
    }

    input[type="file"] {
        @apply hidden absolute;
    }

    select {
        @apply bg-transparent focus:outline-none
                py-2 px-3
                rounded-lg border border-[rgb(var(--fg-rgb))];
    }

    option {
        @apply text-[rgb(var(--black-rgb))];
    }

    textarea {
        @apply w-full bg-transparent p-3
                border border-[rgb(var(--fg-rgb))]
                focus:outline-none
                rounded-lg resize-none;
    }

    button {
        @apply px-4 py-2 
                border border-[rgb(var(--fg-rgb))] text-[rgb(var(--fg-rgb))]
                rounded-lg text-upperwide w-full smooth
                hover:bg-[rgb(var(--fg-rgb))] hover:text-[rgb(var(--bg-rgb))]
                cursor-pointer;
    }
}

@layer components {
    /* NAVBAR */
    .nav-logo-ctr {
        @apply flex items-center space-x-4 smooth;
        animation: slideIn 1.5s ease-in-out;
    }

    .nav-logo-icon {
        @apply w-8 h-8 smooth group-hover:rotate-[20deg];
        animation: fadeIn 1s ease-in-out 0.2s backwards;
    }

    .nav-logo-text {
        @apply hidden
                min-[550px]:block
                text-3xl 
                font-light tracking-widest;
        animation: fadeIn 1s ease-in-out;
    }

    .nav-logo-label {
        @apply text-upperwide text-inactive text-sm;
    }

    .nav-link-ctr {
        @apply items-center space-x-16 hidden min-[850px]:flex;
    }

    .nav-link {
        @apply text-upperwide
                text-inactive smooth hover:text-active
                text-sm min-[400px]:text-base;
    }

    .nav-link-exp {
        @apply text-upperwide
                text-[rgba(var(--bg-rgb),0.7)]
                hover:text-[rgb(var(--bg-rgb))] smooth
                text-base;
    }

    /* ERROR */
    .error-ctr {
        @apply flex flex-col space-y-4 
                border p-[100px] rounded-xl 
                bg-[rgb(var(--bg-rgb))] 
                text-[rgb(var(--fg-rgb))]
                selection:bg-[rgb(var(--fg-rgb))]
                selection:text-[rgb(var(--bg-rgb))];
    }

    .error-title {
        @apply font-bold text-4xl text-upperwide
                text-invalid;
    }

    .error-msg {
        @apply text-invalid;
    }

    /* DATABASE ERROR */
    .database-error {
        @apply text-center font-normal 
                py-4 space-y-4
                w-full
                min-[600px]:px-8
                min-[700px]:px-12
                min-[800px]:px-16
                min-[900px]:px-24
                min-[1000px]:px-32
                min-[1100px]:px-40
                min-[1200px]:px-52
                text-sm
                min-[300px]:text-base
                min-[350px]:text-lg
                min-[400px]:text-xl
                min-[500px]:text-xl
                min-[600px]:text-2xl;
    }

    .database-error-msg {
        @apply p-8 rounded-lg 
                bg-[rgb(var(--red-rgb))] 
                text-[rgb(var(--white-rgb))];
    }

    /* FORM */
    .form-main {
        @apply w-full 
                flex flex-col 
                items-center space-y-8;
    }

    .form-header {
        @apply text-4xl font-bold tracking-tighter;
    }

    /* INPUT */
    .input-ctr {
        @apply flex flex-col space-y-2 smooth;
    }

    .input-password-ctr {
        @apply flex items-center space-x-4 overflow-hidden
                border-b border-b-[rgb(var(--fg-rgb))];
    }

    .input-password-toggle {
        @apply w-6 h-6 cursor-pointer smooth hover:opacity-[0.7];
    }

    .input-choices-ctr {
        @apply flex 
                flex-col space-y-2
                min-[500px]:flex-row
                min-[500px]:items-center 
                min-[500px]:space-y-0 
                min-[500px]:space-x-4;
    }

    .prev-pict-ctr {
        @apply flex flex-col space-y-2;
    }

    .prev-pict {
        @apply w-full h-[300px] overflow-hidden rounded-lg
                bg-[rgba(var(--black-rgb),0.5)]
                text-[rgb(var(--white-rgb))]
                cursor-pointer relative;
    }

    .prev-pict-icon {
        @apply w-6 h-6 smooth group-hover:opacity-70 z-[1];
    }

    .prev-pict-text {
        @apply smooth group-hover:opacity-70 z-[1];
    }

    .prev-pict-upload-btn {
        @apply w-full h-full flex items-center justify-center space-x-2;
    }

    .prev-pict-img {
        @apply absolute top-0 -left-0 w-full h-full object-cover
                group-hover:brightness-[0.7] smooth;
    }

    .prev-pict-name {
        @apply text-sm font-mono text-[rgba(var(--black-rgb),0.7)] text-center;
    }

    /* BUTTON */
    .button-blue {
        @apply border-[rgb(var(--blue-rgb))] text-[rgb(var(--blue-rgb))]
                hover:bg-[rgb(var(--blue-rgb))] hover:text-[rgb(var(--white-rgb))]
                selection:bg-[rgb(var(--blue-rgb))];
    }

    .button-blue-active {
        @apply border-[rgb(var(--blue-rgb))] text-[rgb(var(--white-rgb))]
                bg-[rgb(var(--blue-rgb))]   
                hover:brightness-150 
                hover:bg-[rgb(var(--blue-rgb))]
                hover:text-[rgb(var(--white-rgb))]
                selection:bg-[rgb(var(--white-rgb))]
                selection:text-[rgb(var(--blue-rgb))];
    }

    .button-red {
        @apply border-[rgb(var(--red-rgb))] text-invalid
                hover:bg-[rgb(var(--red-rgb))] hover:text-[rgb(var(--white-rgb))];
    }

    .button-red-active {
        @apply border-[rgb(var(--red-rgb))] text-[rgb(var(--white-rgb))]
                bg-[rgb(var(--red-rgb))]
                hover:brightness-150 
                hover:bg-[rgb(var(--red-rgb))]
                hover:text-[rgb(var(--white-rgb))]
                selection:bg-[rgb(var(--white-rgb))]
                selection:text-[rgb(var(--red-rgb))];
    }

    .button-green {
        @apply border-[rgb(var(--green-rgb))] text-[rgb(var(--green-rgb))]
                hover:bg-[rgb(var(--green-rgb))] hover:text-[rgb(var(--white-rgb))];
    }

    .button-green-active {
        @apply border-[rgb(var(--green-rgb))] text-[rgb(var(--white-rgb))]
                bg-[rgb(var(--green-rgb))]
                hover:brightness-150 
                hover:bg-[rgb(var(--green-rgb))]
                hover:text-[rgb(var(--white-rgb))]
                selection:bg-[rgb(var(--white-rgb))]
                selection:text-[rgb(var(--green-rgb))];
    }

    .button-gray {
        @apply border-[rgb(var(--gray-rgb))] text-[rgb(var(--gray-rgb))]
                hover:bg-[rgb(var(--gray-rgb))] hover:text-[rgb(var(--white-rgb))]
                selection:bg-[rgb(var(--gray-rgb))];
    }

    .button-gray-active {
        @apply border-[rgb(var(--gray-rgb))] text-[rgb(var(--white-rgb))]
                bg-[rgb(var(--gray-rgb))]
                hover:brightness-150 
                hover:bg-[rgb(var(--gray-rgb))]
                hover:text-[rgb(var(--white-rgb))]
                selection:bg-[rgb(var(--white-rgb))]
                selection:text-[rgb(var(--gray-rgb))];
    }

    .button-black {
        @apply border-[rgb(var(--black-rgb))] text-[rgb(var(--black-rgb))]
                hover:bg-[rgb(var(--black-rgb))] hover:text-[rgb(var(--white-rgb))]
                selection:bg-[rgb(var(--black-rgb))];
    }

    .button-black-active {
        @apply border-[rgb(var(--black-rgb))] text-[rgb(var(--white-rgb))]
                bg-[rgb(var(--black-rgb))]
                hover:brightness-150 
                hover:bg-[rgb(var(--black-rgb))]
                hover:text-[rgb(var(--white-rgb))]
                selection:bg-[rgb(var(--white-rgb))]
                selection:text-[rgb(var(--black-rgb))];
    }

    .button-white {
        @apply border-[rgb(var(--white-rgb))] text-[rgb(var(--white-rgb))]
                hover:bg-[rgb(var(--white-rgb))] hover:text-[rgb(var(--black-rgb))]
                selection:bg-[rgb(var(--white-rgb))];
    }

    .button-white-active {
        @apply border-[rgb(var(--white-rgb))] text-[rgb(var(--black-rgb))]
                bg-[rgb(var(--white-rgb))]
                hover:bg-[rgb(var(--white-rgb))]
                hover:text-[rgb(var(--black-rgb))]
                selection:bg-[rgb(var(--black-rgb))]
                selection:text-[rgb(var(--white-rgb))];
    }

    /* MODAL */
    #blackout {
        @apply z-[100] fixed top-0 left-0 w-screen h-screen 
                bg-[rgba(var(--black-rgb),0.7)] 
                flex items-center justify-center smooth;
    }

    #modal {
        @apply bg-[rgba(var(--fg-rgb))] px-16 py-8 max-w-[500px] 
                text-[rgb(var(--bg-rgb))]
                flex flex-col space-y-4 text-center 
                items-center justify-center overflow-hidden 
                rounded-xl;
    }

    #modalTitle {
        @apply text-2xl;
    }

    .modal-buttons-ctr {
        @apply flex items-center space-x-4;
    }

    /* GREETING */
    .greeting {
        @apply text-2xl
                min-[300px]:text-3xl
                min-[350px]:text-4xl
                min-[400px]:text-5xl
                min-[500px]:text-6xl
                min-[600px]:text-7xl
                min-[700px]:text-8xl;
    }

    /* ADD */
    .add {
        @apply flex items-center space-x-3 
                text-inactive smooth 
                hover:text-active cursor-pointer;
    }

    .add-icon {
        @apply w-5 h-5
                min-[300px]:w-6 min-[300px]:h-6
                smooth group-hover:rotate-90
                text-inactive group-hover:text-active;
    }

    .add-text {
        @apply min-[300px]:text-lg 
                text-upperwide;
    }

    /* DASHBOARD */
    .dashboard {
        @apply flex flex-col space-y-4
                min-[500px]:space-y-0
                min-[500px]:flex-row
                min-[500px]:items-center 
                min-[500px]:justify-between 
                min-[700px]:justify-start
                min-[700px]:space-x-20
                w-full;
    }

    .dashboard-title {
        @apply text-active font-semibold 
                text-lg
                min-[300px]:text-xl
                min-[500px]:text-2xl;
    }

    .dashboard-footer {
        @apply text-inactive 
                min-[300px]:text-lg
                min-[500px]:text-xl;
    }

    /* SECTION */
    .section-title-ctr {
        @apply w-full overflow-x-hidden relative;
    }

    .section-title-bg {
        @apply absolute top-0 left-0 pointer-events-none
                w-full h-full
                bg-gradient-to-r from-transparent 
                from-80% to-[rgb(var(--bg-rgb))]
                min-[1300px]:hidden;
    }

    .section-title-item-ctr {
        @apply flex items-center
                w-full overflow-x-scroll;
    }

    .section-title-item {
        @apply flex items-center space-x-3
                border-b border-inactive
                text-inactive hover:text-active
                hover:border-active
                smooth cursor-pointer pb-3 pr-16;
    }

    .section-title-item-active {
        @apply section-title-item
                text-active border-active;
    }

    .section-title-count-active {
        @apply section-title-count
                text-[rgb(var(--bg-rgb))]
                bg-[rgb(var(--fg-rgb))]
                font-semibold
                group-hover:text-[rgb(var(--bg-rgb))]
                border-active;
    }

    .section-title-text {
        @apply text-lg min-[500px]:text-xl 
                whitespace-nowrap
                text-upperwide;
    }

    .section-title-count {
        @apply text-sm min-[500px]:text-base
                py-1 px-4 border border-[rgba(var(--fg-rgb),0.3)]
                smooth group-hover:border-active
                text-inactive group-hover:text-active
                rounded-full;
    }

    /* MENU */
    .menu-container {
        @apply grid 
                min-[750px]:grid-cols-2
                min-[1200px]:grid-cols-3 
                gap-4 
                smooth;
    }

    .empty-menu-container {
        @apply smooth;
    }

    .empty-menu {
        @apply text-center
                text-sm 
                min-[300px]:text-base
                min-[350px]:text-lg
                min-[400px]:text-xl
                min-[500px]:text-2xl 
                p-4 font-light;
    }

    .menu-item {
        @apply flex flex-col space-y-4
                px-4
                min-[350px]:px-6
                min-[450px]:px-8
                py-4
                overflow-hidden border border-inactive 
                rounded-xl smooth hover:scale-105
                opacity-0;
    }

    .menu-img-ctr {
        @apply w-full h-[200px] rounded-lg 
                overflow-hidden;
    }

    .menu-img {
        @apply w-full h-full object-cover smooth;
    }

    .menu-label-category {
        @apply text-upperwide
                text-xs
                min-[350px]:text-sm
                min-[400px]:text-base;
    }

    .menu-label-price {
        @apply text-upperwide 
                text-sm
                min-[350px]:text-base
                min-[400px]:text-lg 
                bg-[rgb(var(--fg-rgb))] 
                text-[rgb(var(--bg-rgb))] 
                w-fit px-3;
    }

    .menu-name {
        @apply tracking-tighter font-bold
                text-2xl 
                min-[350px]:text-3xl
                min-[400px]:text-4xl;
    }

    .menu-desc {
        @apply text-sm 
                min-[350px]:text-base
                min-[400px]:text-lg;
    }

    .menu-footer {
        @apply flex 
                flex-col space-y-3
                text-sm
                min-[400px]:text-base
                min-[450px]:flex-row
                min-[450px]:items-center 
                min-[450px]:space-y-0 
                min-[450px]:justify-between;
    }

    .menu-footer-category {
        @apply text-upperwide text-sm text-inactive;
    }

    .menu-action {
        @apply flex items-center space-x-2;
    }

    .menu-action-icon {
        @apply w-5 h-5
                min-[400px]:w-6 min-[400px]:h-6
                cursor-pointer
                smooth hover:rotate-[15deg];
    }
}

@layer utilities {
    /* GENERAL */
    .smooth {
        @apply ease-in-out duration-300;
    }

    /* FONTS */
    .serif {
        @apply font-["Playfair_Display",serif];
    }

    /* TEXT */
    .text-upperwide {
        @apply uppercase tracking-widest;
    }

    .text-link {
        @apply text-[rgb(var(--blue-rgb))]
                selection:bg-[rgb(var(--blue-rgb))]
                selection:text-[rgb(var(--fg-rgb))]
                smooth hover:text-[rgba(var(--blue-rgb),0.8)];
    }

    .text-invalid {
        @apply text-[rgb(var(--red-rgb))]
                selection:bg-[rgb(var(--red-rgb))]
                selection:text-[rgb(var(--white-rgb))];
    }

    .text-inactive {
        @apply text-[rgba(var(--fg-rgb),0.7)];
    }

    .text-active {
        @apply text-[rgb(var(--fg-rgb))];
    }

    .text-optional {
        @apply text-[10px] 
                text-inactive
                text-upperwide;
    }

    .textarea-counter {
        @apply absolute z-[1] bottom-[12px] right-[10px] 
                text-inactive text-sm pointer-events-none 
                bg-[rgb(var(--bg-rgb))];
    }

    /* BORDERS */
    .border-inactive {
        @apply border-[rgba(var(--fg-rgb),0.4)];
    }

    .border-active {
        @apply border-[rgb(var(--fg-rgb))];
    }

    /* ANIMATION */
    .slide-in-smooth {
        animation: slideInSmooth 1s ease-in-out forwards;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideInSmooth {
    from {
        opacity: 0;
        transform: translateX(-25%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
